<% layout('layout') %>

<h2><%= project.name %></h2>

<form action="/projects/<%= project._id %>/entries" method="POST">
  <label for="description">Description</label>
  <input type="text" name="description" placeholder="Description" required />
  <label for="floor">Floor</label>
  <input type="text" name="floor" placeholder="floor" required />
  <label for="Amount">Amount</label>
  <input type="number" name="amount" placeholder="Amount" required />
  <label for="Comment">Comment</label>
  <input type="text" name="comment" placeholder="Comment" />
  <label for="Bank">Bank</label>
  <input type="text" name="bank" placeholder="Bank" required />
  <label for="Type">Type(Income/Expense)</label>
  <select name="type">
    <option value="income">Income</option>
    <option value="expense">Expense</option>
  </select>
  <button type="submit">Add Entry</button>
</form>


<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Floor</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Bank</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% project.entries.forEach(entry => { %>
        <tr>
          <td><%= entry.description %></td>
          <td><%= entry.floor %></td>
          <td><%= entry.amount %></td>
          <td><%= entry.type %></td>
          <td><%= entry.comment %></td>
          <td><%= entry.bank %></td>
          <td><%= entry.createdAt.toLocaleString() %></td>
          <td>
            <form action="/projects/<%= project._id %>/entries/<%= entry._id %>?_method=DELETE" method="POST">
              <button type="submit" onclick="return confirm('Delete this entry?')">🗑️</button>
            </form>
          </td>
        </tr>
      <% }) %>
  </tbody>
</table>

<div class="totalbox">
<p class="income"><strong>Total Income:</strong> ₦<%= totalIncome %></p>
<p class="expense"><strong>Total Expenses:</strong> ₦<%= totalExpenses %></p>
<p><strong>Balance:</strong> ₦<%= balance %></p>
</div>

<a href="/projects/<%= project._id %>/export">Export to Excel</a>
